<section class="bg-primary fixed-top">
<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to "KomuWin", root_path, class: "navbar-brand text-white"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-nav" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          特別区
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "各区の概要", "#", class: "dropdown-item" %>
          <div class="dropdown-divider"></div>

          <%= link_to "千代田区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/17_chiyoda.html", class: "dropdown-item" %>
          <%= link_to "中央区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/16_chuuou.html", class: "dropdown-item" %>
          <%= link_to "港区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/22_minato.html", class: "dropdown-item" %>
          <%= link_to "新宿区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/11_shinjuku.html", class: "dropdown-item" %>
          <%= link_to "文京区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/21_bunkyou.html", class: "dropdown-item" %>
          <%= link_to "台東区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/15_taitou.html", class: "dropdown-item" %>
          <%= link_to "墨田区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/13_sumida.html", class: "dropdown-item" %>
          <%= link_to "江東区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/08_koutou.html", class: "dropdown-item" %>
          <%= link_to "品川区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/09_shinagawa.html", class: "dropdown-item" %>
          <%= link_to "目黒区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/23_meguro.html", class: "dropdown-item" %>
          <%= link_to "大田区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/05_oota.html", class: "dropdown-item" %>
          <%= link_to "世田谷区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/14_setagaya.html", class: "dropdown-item" %>
          <%= link_to "渋谷区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/10_shibuya.html", class: "dropdown-item" %>
          <%= link_to "中野区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/19_nakano.html", class: "dropdown-item" %>
          <%= link_to "杉並区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/12_suginami.html", class: "dropdown-item" %>
          <%= link_to "豊島区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/18_toshima.html", class: "dropdown-item" %>
          <%= link_to "北区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/07_kita.html", class: "dropdown-item" %>
          <%= link_to "荒川区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/02_arakawa.html", class: "dropdown-item" %>
          <%= link_to "板橋区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/03_itabashi.html", class: "dropdown-item" %>
          <%= link_to "練馬区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/20_nerima.html", class: "dropdown-item" %>
          <%= link_to "足立区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/01_adachi.html", class: "dropdown-item" %>
          <%= link_to "葛飾区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/06_katsushika.html", class: "dropdown-item" %>
          <%= link_to "江戸川区", "http://www.tokyo23city.or.jp/saiyo/2019/23kushoukai/04_edogawa.html", class: "dropdown-item" %>
         
  <%
=begin
%>       
          <div class="dropdown-divider"></div>
          <%= link_to "人厚組合", "#", class: "dropdown-item" %>
          <%= link_to "競馬組合", "#", class: "dropdown-item" %>
          <%= link_to "清掃組合", "#", class: "dropdown-item" %>
<%
=end
%>
        </div>
      </div>
      <%= link_to "テキスト教材", texts_path, class: "nav-item nav-link active text-white" %>
      <%= link_to "動画教材", movies_path, class: "nav-item nav-link active text-white" %>
      <%= link_to "面接シート", interview_sheets_path, class: "nav-item nav-link active text-white" %>
      <%= link_to "想定質問ノック", expected_questions_path, class: "nav-item nav-link active text-white" %>
      <%= link_to "添削", documents_path, class: "nav-item nav-link active text-white" %>
      <%= link_to "アカウント編集", edit_user_registration_path, class: "nav-item nav-link active text-white" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-item nav-link active text-white" %>
    <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "nav-item nav-link active text-white" %>
        <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link active text-white" %>
    <% end %>  
  </div>
</nav>

</section>










 