<div class="container">
  <section id="contents"  class="mx-auto" style="width: 700px;"> 
    <div class="container">
      <h2 class="pt-5">添削ページ</h2>
      <%= form_with model: @document, local: true do |f| %>
        <div class="form-group">
          <label>【タイトル】</label>
          <%= f.text_area :title, class: "title-form" %>
        </div>
        
        <div class="form-group">
          <label>【原稿文章】</label>
          <%= f.text_area :content, class: "content-form" %>
        </div>
        <div> <%= f.submit "添削申請", class: "btn btn-primary form-control" %> </div>
      <% end %>
    </div>

    <div class="documents">
      <% @documents.each do |document| %>
        <div class="document-container">
          <%= link_to (document_path(document.id)) do %>
            <div class="row document">
              <div class="col-md-7 title"><%= document.title.truncate(50) %></div>
              <div class="col-md-5 info">
                <p class="d-flex justify-content-end">申請日 <%= document.created_at.to_s(:datetime_jp) %></p>
              </div>
            </div>
          <% end %>
          
        </div>
      <% end %>

    </div>
    
  </section>
</div>