<!DOCTYPE html>
<html>
  <head>
    <title>Komuwin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash' %>
    </header>

    <main>
      <div class="base-container <%= 'movie-width' if controller_name == "movies" %><%= 'interview_sheet-width' if controller_name == "interview_sheets"%>">
        <%= yield %>
      </div>
    </main>

    <footer>
    </footer>
  </body>
</html>
